name: Linux

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        compiler: [g++-11, g++-12, g++-13, g++-14, g++-15, clang++-18, clang++-19, clang++-20, clang++-21]
        configuration: [Debug, Release]
        exclude:
          - os: ubuntu-22.04
            compiler: g++-13
          - os: ubuntu-22.04
            compiler: g++-14
          - os: ubuntu-22.04
            compiler: g++-15
          - os: ubuntu-22.04
            compiler: clang++-18
          - os: ubuntu-22.04
            compiler: clang++-19
          - os: ubuntu-22.04
            compiler: clang++-20
          - os: ubuntu-22.04
            compiler: clang++-21
          - os: ubuntu-24.04
            compiler: g++-11
          - os: ubuntu-24.04
            compiler: g++-12
        include:
          - os: ubuntu-24.04
            compiler: g++-15
            container: ubuntu:25.04

    container: ${{ matrix.container }}

    steps:
    - uses: actions/checkout@v4
    - name: prepare clang++-19
      if: matrix.compiler == 'clang++-19'
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 19
    - name: prepare clang++-20
      if: matrix.compiler == 'clang++-20'
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 20
    - name: prepare clang++-21
      if: matrix.compiler == 'clang++-21'
      run: |
        wget https://apt.llvm.org/llvm.sh
        chmod +x llvm.sh
        sudo ./llvm.sh 21
    - name: prepare in docker
      if: matrix.container
      run: |
        apt update
        apt install -y cmake git g++-15
    - name: configure
      run: cmake -S . -B build -DCSIGA2_FUN=OFF
    - name: build source
      run: cmake --build build --target prod